body {
  background-image: url('./images/background.jpeg');
  background-color: rgba(245, 240, 240, 0.8);
    background-blend-mode: lighten;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 100px;
  margin-top: 10px;
}

.heading{
  font-family: 'Nunito Sans', sans-serif;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
